body {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background: url("../images/clock.jpg") no-repeat center center fixed;
    background-size: cover;
}
fieldset {
    padding-bottom: 5px; padding-right: 5px; padding-left: 5px;
}
.wrapperWelcomeInfo {
    position: absolute;
    left: 10px; top: 5px;
}
.welcomeElement {
    font-size: 18px;
}
.wrapperPageData {
    position: absolute;
    left: 20px; top: 50px;
}

.buttonElement {
    display: inline-block;
    margin-right: 10px;
}
.messageElement {
    color: firebrick;
    font-weight: 600;
}
.inputElement {
    opacity: 0.7;
}
.userTypeElement {
    position: fixed;
    left: 10px; bottom: 5px;
    color: firebrick;
}
.logoutElement {
    position: fixed;
    right: 10px; top: 10px;
}
.activityInfoForm {
    background-color: whitesmoke;
    opacity: 0.75;
}
.wrapperButtons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    text-align-last: justify;
}
input[type=button] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.colorButtons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    text-align-last: justify;
}
.buttonElement {
    display: inline-block;
    height:20px; width:70px
}
.formElement {
    margin: 0;
    text-align: center
}