body {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background: url("../images/login.jpg") no-repeat center center fixed;
    background-size: cover;
}
/*don't work*/
.wrapperLoginForm {
    position: absolute;
    width:200px;
    height:100px;
}
.inputElement {
    opacity: 0.8;
}
.errorMessage {
    color: firebrick;
}
.languageElement {
    position: fixed;
    right: 10px;
    top: 10px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.formElement {
    margin: 0px;
    text-align: center
}
.buttonElement {
    display: inline-block;
    height: 20px;
    width: 70px
}

.lan{
    color: #ffffff;
}